## Common usage

Install the binary from the registry:

```sh
cargo install oxdock@{{ env:CRATE_VERSION }}
```

Run a script file:

```sh
oxdock ./build.oxfile
# same as: oxdock --script ./build.oxfile
```

Print help:

```sh
oxdock --help
```

