[package]
name = "oxdock-process"
authors.workspace = true
version.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
publish.workspace = true

[features]
mock-process = []

[dependencies]
anyhow.workspace = true
