[package]
name = "oxdock-parser"
description = "Parser and AST definitions for the OxDock DSL"
authors.workspace = true
version.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
publish.workspace = true

[dependencies]
anyhow.workspace = true

[dev-dependencies]
indoc.workspace = true
