{{> .oxdock/template/readme/fragments/header.md }}
{{> .oxdock/template/readme/fragments/intro.md }}
{{> .oxdock/template/readme/fragments/quick-start.md }}
{{> .oxdock/template/shared/embed-example.md }}
{{> .oxdock/template/readme/fragments/quick-start-cli.md }}
{{> .oxdock/template/shared/build-language.md }}
{{> .oxdock/template/readme/fragments/variants.md }}
{{> .oxdock/template/readme/fragments/goals.md }}
{{> .oxdock/template/readme/fragments/dsl-reference.md }}
{{> .oxdock/template/readme/generated/command-reference.md }}
{{> .oxdock/template/readme/generated/command-body.md }}
{{> .oxdock/template/readme/fragments/environment.md }}
{{> .oxdock/template/readme/fragments/path-separators.md }}
{{> .oxdock/template/readme/fragments/workspaces.md }}
{{> .oxdock/template/readme/fragments/how-tested.md }}
{{> .oxdock/template/readme/fragments/env-contracts.md }}
{{> .oxdock/template/readme/fragments/github-actions.md }}
{{> .oxdock/template/readme/fragments/coverage.md }}
{{> .oxdock/template/readme/footer.tmpl }}
