{{> oxdock/.oxdock/template/header.tmpl }}
{{> oxdock/.oxdock/template/fragments/embed.md }}
{{> .oxdock/template/shared/embed-example.md }}
{{> oxdock/.oxdock/template/fragments/overview.md }}
{{> .oxdock/template/shared/build-language.md }}
{{> oxdock/.oxdock/template/fragments/usage.md }}
{{> oxdock/.oxdock/template/fragments/dependency.tmpl }}
{{> .oxdock/template/readme/generated/command-reference.md }}
{{> .oxdock/template/readme/generated/command-body.md }}
{{> oxdock/.oxdock/template/footer.tmpl }}
