{{> oxdock/.oxdock/template/header.tmpl }}
{{> .oxdock/template/shared/intro.tmpl }}
{{> .oxdock/template/shared/quick-install.tmpl }}
{{> oxdock/.oxdock/template/fragments/embed.md }}
{{> .oxdock/template/shared/embed-example.md }}
{{> .oxdock/template/shared/prepare.md }}
{{> .oxdock/template/shared/pipes.md }}
{{> .oxdock/template/shared/workspaces.md }}
{{> oxdock/.oxdock/template/fragments/overview.md }}
{{> .oxdock/template/shared/build-language.md }}
{{> oxdock/.oxdock/template/fragments/usage.tmpl }}
{{> oxdock/.oxdock/template/fragments/dependency.tmpl }}
{{> .oxdock/template/readme/generated/command-reference.md }}
{{> .oxdock/template/readme/generated/command-body.md }}
{{> oxdock/.oxdock/template/footer.tmpl }}
